* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #cca8e9;
}

body {
    min-height: 100%;
}

header {
    display: block;
    position: relative;
    height: 35%;
}

.title {
    border: 2px solid purple;
    font-size: 40px;
    font-family: cursive;
    font-style: oblique;
}

.banner {
    width: 100%;
    height: 50vh;
    border: 1.5px solid purple;
}

nav {
    background: none;
    position: absolute;
    right: 4vh;
    top: 3.75vw;
    display: inline-block;
}

nav a {
    right: 45px;
    top: 30px;
    margin: 1vw;
    padding: 5px;
    background-color: #c3bec3;
    border:1px solid black;
    border-radius: 15px;
    font-size: 25px;
    text-decoration: none;
}

a:hover {
    background-color: lightblue;
}


main {
    display: block;
    padding: 20px;
}

.active {
    background-color: #872c87;
    color: black;
}

.logo {
    border: 0.5px solid purple;
    display: inline-block;
    position: absolute;
    width: 20vw;
    height: auto;
}
     
.text {
    display: inline-block;
    position: relative;
    bottom: 2vh;
    left: 60vh;
    width: 80vh;
}

h2 {
    border: 0.5px solid purple;
    font-size: 32px;
    text-align: center;
    margin-bottom: 3vh;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

p {
    padding: 0.75vh 1vh;
}

.pe {
    font-size: 3.7vh;
    position: relative;
    bottom: 14vh;
    left: 2vw;
}

.img {
    display: inline-block;
    position: relative;
    bottom: -1.65vh;
    left: 69vh;
    width: 370px;
    height: auto;
    border: 0.5px solid purple;
}

.img-2 {
    display: inline-block;
    position: relative;
    bottom: 5.2vh;
    left: 69vh;
    width: 370px;
    height: auto;
    border: 0.5px solid purple;
}

a {
    color: black;
    background-color: none;
}